<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/survey}" th:object="${surveyField}" method="post">
        <div th:text="${surveyField}"></div>
        <ul>
            <li th:each="questionField, questionFieldStat : *{questionFields}">
                <input type="hidden" th:field="*{questionFields[__${questionFieldStat.index}__].questionType}" />
                <input type="text" th:field="*{questionFields[__${questionFieldStat.index}__].body}" />
                <span th:text="${questionField.optionFields}"></span>
                <div th:if="${questionField.questionType.isSingleChoice()}">
                    <ul>
                        <li th:each="optionField, optionFieldStat : ${questionField.optionFields}">
                            <input type="text" th:field="*{questionFields[__${questionFieldStat.index}__].optionFields[__${optionFieldStat.index}__].body}" />
                        </li>
                    </ul>
                    <button type="submit" name="addOption" th:value="${questionFieldStat.index}">Add Option</button>
                    <button type="submit" name="resetOption" th:value="${questionFieldStat.index}">Reset Option</button>
                </div>
                <button type="submit" name="removeQuestion" th:value="${questionFieldStat.index}">Remove Question</button>
            </li>
        </ul>
        <button type="submit" name="addQuestion">Add Question</button>
        <button type="submit" name="addDescriptionQuestion">Add D</button>
        <button type="submit">Submit</button>
    </form>
</body>
</html>