<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/survey}" th:object="${surveyField}" method="post">
        <ul>
            <li th:each="questionField, questionFieldStat : *{questionFields}">
                <input type="text" th:field="*{questionFields[__${questionFieldStat.index}__].body}" />
                <span th:text="${questionField.optionFields}"></span>
                <ul>
                    <li th:each="optionField, optionFieldStat : ${questionField.optionFields}">
<!--                        <input type="text" th:field="${questionField.optionFields[__${optionFieldStat.index}__].body}" />-->
                    </li>
<!--                    <button type="submit" name="addOption">Add Option</button>-->
                </ul>
            </li>
        </ul>
        <button type="submit" name="addQuestion">Add Question</button>
        <button type="submit">Submit</button>
    </form>
</body>
</html>